
/* ==========================================================================
Tools: functions, mixin
========================================================================== */

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0.4; }
}  
@keyframes fadeIn {
    from { opacity: 1; }
      to { opacity: 0.4; }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}